/*-----------------------------------------------------------------------------------------------
  No Script Notification
-----------------------------------------------------------------------------------------------*/
#noscript {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  background:#FFFFE7;
  border-bottom:1px solid #CECBCE;
}

#noscript p {
  display: inline;
  font-size: 11px;
  font-family: Tahoma, Verdana, Arial, sans-serif;
  background: url(../images/alert.png) left center no-repeat;
  padding: 5px 18px;
  margin-left: 5px;
}

pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}