<?php
$config = array(
  'site_name' => 'Open Project Management System',
  'site_url' => 'http://project.cis.au.edu.tw/',
  'db_name' => 'name',
  'db_user' => 'username',
  'db_pass' => 'password',
  'db_host' => 'localhost'
);

define("IS_WARNING_FATAL", "true");
define("DEBUGGING", "true");

define("SEND_ERROR_MAIL", "false");
define("ADMIN_ERROR_MAIL", "opms.bug@project.cis.au.edu.tw");
define("SENDMAIL_FROM, "opms@project.cis.au.edu.tw");
ini_set("sendmail_from", "SENDMAIL_FROM");

define("LOG_ERRORS", "false");
define("LOG_ERRORS_FILE", "log");

define("SITE_GENERIC_ERROR_MESSAGE", "<h2>OPMS Error!</h2>");
?>
